{% extends "base.html" %}
{% block content %}
{% load static %}
{% load social_share %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: rgb(130, 144, 199);
      }
      
      .credit {
        max-width: 900px;
        background-color: white;
        padding: 30px 70px 70px 70px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        min-height: 700px;
        
      }
      
      .credit h2 {
        text-align: center;
      }
      
      .credit-details {
        margin-bottom: 20px;
      }
      
      .credit-details p {
        margin: 5px 0;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      
      table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      
      .credit-total {
        text-align: right;
      }
    .hdr{
        background-color:rgb(130, 144, 199);
        padding:20px;
    }
    {% comment %} .close-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
    } {% endcomment %}
    .text-end {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .credit-body-info-item{
        display: grid;
        grid-template-columns: 80% 20%;
    }
      
</style>
<body>
    

    <br><br><br><br><br><br>
    <div class="row ps-3 pe-3 m-0" >
    <div class="col-sm-12 ps-2 pe-3" style="margin-left:23%;">
        <div class="row pt-0 m-0">
            <div class="card p-0 bg-light bs col-md-9"><br>
                <div class="row">
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-3" style="margin-left: 7vh; margin-top: 7vh;">
                                <div class="form-group">
                                    <h3>Credit Note Details</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4 text-right" style="margin-left: -13vh;">
                                <div class="btn-group" role="group" aria-label="Button group">
                                    <button class="btn mt-3" type="button" onclick="printfun()" style="margin-right: 2vh;">
                                        <span><img width="30px" src="{% static 'images/printer.jpeg' %}" alt="no img"></span>
                                        <br><span style="color: black; font-size: small; font-weight: bold;">Print</span>
                                    </button>
                            
                                    <button class="btn mt-3" type="button" id="pdflink" style="margin-right: 2vh;">
                                        <span><img width="30px" src="{% static 'images/credit/pdf.jpg' %}" alt="no img"></span>
                                        <br><span style="color: black; font-size: small; font-weight: bold;">Pdf</span>
                                    </button>
                            
                                    <div class="dropdown">
                                        <button class="btn mt-3 dropdown-toggle" type="button" id="shareDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span><img width="30px" src="{% static 'images/credit/share.png' %}" alt="no img"></span>
                                            <br>
                                            <span style="color: black; font-size: small; font-weight: bold;">Share</span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="shareDropdown">
                                            <a class="dropdown-item" href="#" id="share_on_whatsapp">{% post_to_whatsapp object_or_url "WhatsApp" %}</a>
                                            <a class="dropdown-item" href="#" id="share_with_email" onclick="toggleEmailModal()">Email</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                
                
                <br> 
            </div>
        </div>
    
    

<body>
  <div class="credit">
    <div class="text-end ml-auto">
        <a href="{% url "transactiontable" %}" class="close-icon" style="text-align: right; font-size: large;"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class='hdr'>
        <h2 style='color:white;'>Credit Note</h2>
    </div><br>
    <div class='hr'></div>
    <div class="credit-details">
      <p style='color:black;'>CreditNote No: <span id="creditNumber">{{cd.returnno}}</span></p>
      <p style='color:black;'>Date: <span id="creditDate">{{cd.date}}</span></p>
    </div>
    <div class = "credit-head-bottom">
        <div class = "credit-head-bottom-left">
            <ul>
                <li class = 'text-bold' style='color:black;'>From:</li>
                <li style='color:black;'>{{cd.company.company_name}}</li>
                <li style='color:black;'>{{cd.company.address}}</li>
            </ul>
        </div><br>
        <div class = "credit-head-bottom-right text-end">
            <ul class = "text-end">
                <li class = 'text-bold' style='color:black;'>To:</li>
                <li style='color:black;'>{{cd.party_name}}</li>
                {% comment %} <li style='color:black;'>{{cd.address}}</li>
                <li style='color:black;'>{{cd.contact}}</li> {% endcomment %}
            </ul>
        </div>
     </div><br>
    <table>
      <thead>
        <tr style='color:black;background-color:rgb(130, 144, 199);'>
            <td class = "text-bold">Item</td>
            <td class = "text-bold">HSN</td>
            <td class = "text-bold">Qty</td>
            <td class = "text-bold">Rate</td>
            <td class = "text-bold">Tax</td>
            <td class = "text-bold">Discount</td>
            <td class = "text-bold">Total</td>
        </tr>
      </thead>
      <tbody>
        {% for i in crditem %}
        <tr style='color:black;'>
            <td>{{i.product}}</td>
            <td>{{i.hsn}}</td>
            <td>{{i.qty}}</td>
            <td>{{i.price}}</td>
            <td>{{i.tax}}</td>
            <td>{{i.discount}}</td> 
            <td class = "text-end">{{i.total}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class = "credit-body-bottom col-md-12">
        <div class = "credit-body-info-item border-bottom">
            <div class = "info-item-td text-end text-bold" style='color:black;'>Sub Total:</div>
            <div class = "info-item-td text-end" style='color:black;'>{{cd.subtotal}}</div>
        </div>
        <div class = "credit-body-info-item border-bottom">
            <div class = "info-item-td text-end text-bold" style='color:black;'>Tax:</div>
            <div class = "info-item-td text-end" style='color:black;'>{{cd.taxamount}}</div>
        </div>
        <div class = "credit-body-info-item">
            <div class = "info-item-td text-end text-bold" style='color:black;'>Total:</div>
            <div class = "info-item-td text-end" style='color:black;'>{{cd.grandtotal}}</div>
        </div>
    </div>
  </div>

  

    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item"><a class="page-link" href="{% url "template1" cd.id %}">1</a></li>
        <li class="page-item active"><a class="page-link" href="{% url "template2" cd.id %}">2</a></li>
        <li class="page-item"><a class="page-link" href="{% url "template3" cd.id %}">3</a></li>
      </ul><br><br>
    </div>
    </div>
    
    <script>
        function printcredit(){
            window.print();
        }
    </script>
    <script>
        function downloadPDF() {
            // Replace the URL below with the actual URL that serves the PDF file
            var pdfUrl = 'template1.pdf';
            
            // Creating an anchor element to trigger the download
            var a = document.createElement('a');
            a.href = pdfUrl;
            a.download = 'creditnote.pdf'; // Optional: specify a filename for the downloaded file
            a.target = '_blank'; // Optional: open the PDF in a new tab instead of downloading it
            a.click();
        }
    </script>
    
    </body>
{% endblock content %}