{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    *,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(130, 144, 199);
    
}

:root{
    --blue-color: #0c2f54;
    --dark-color: #535b61;
    --white-color: #fff;
}

ul{
    list-style-type: none;
}
ul li{
    margin: 2px 0;
}

/* text colors */
.text-dark{
    color: var(--dark-color);
}
.text-blue{
    color: var(--blue-color);
}
.text-end{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: left;
}
.text-bold{
    font-weight: 700;
}
/* hr line */
.hr{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}
/* border-bottom */
.border-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
    font-size: 14px;
}
.credit-wrapper{
    min-height: 100vh;
    background-color: rgb(130, 144, 199);
    {% comment %} padding-top: 20px; {% endcomment %}
    padding-bottom: 20px;
}
.credit{
    max-width: 900px;
    background-color: var(--white-color);
    padding: 70px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 700px;
}
.credit-head-top-left h3{
    font-weight: 500;
    font-size: 27px;
    color: var(--blue-color);
}
.credit-head-middle, .credit-head-bottom{
    padding: 16px 0;
}
.credit-body{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}
.credit-body table{
    border-collapse: collapse;
    border-radius: 4px;
    width: 100%;
}
.credit-body table td, .credit-body table th{
    padding: 12px;
}
.credit-body table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.credit-body table thead{
    background-color: rgba(0, 0, 0, 0.02);
}
.credit-body-info-item{
    display: grid;
    grid-template-columns: 80% 20%;
}
.credit-body-info-item .info-item-td{
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.02);
}

.credit-head-top, .credit-head-middle, .credit-head-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}

@media screen and (max-width: 992px){
    .credit{
        padding: 40px;
    }
}

@media screen and (max-width: 576px){
    .credit-head-top, .credit-head-middle, .credit-head-bottom{
        grid-template-columns: repeat(1, 1fr);
    }
    .credit-head-bottom-right{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .credit *{
        text-align: left;
    }
    .credit{
        padding: 28px;
    }
}

.overflow-view{
    overflow-x: scroll;
}
.credit-body{
    min-width: 600px;
}

@media print{
    .print-area{
        visibility: visible;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    .overflow-view{
        overflow-x: hidden;
    }

    .credit-btns{
        display: none;
    }
}
</style>
<body>
    

<br><br><br><br><br><br>
<div class="row ps-3 pe-3 m-0" >
<div class="col-sm-12 ps-2 pe-3" style="margin-left:23%;">
    <div class="row pt-0 m-0">
        <div class="card p-0 bg-light bs col-md-9"><br>
            <div class="row">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-3" style="margin-left: 7vh; margin-top: 7vh;">
                            <div class="form-group">
                                <h3>Credit Note Details</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right" style="margin-left: -13vh;">
                            <button class="btn mt-3" type="button" onclick="printcredit()" style="margin-right: 2vh;">
                                <span><img width="30px" src="{% static 'images/printer.jpeg' %}" alt="no img"></span>
                                <br><span style="color: black; font-size: small; font-weight: bold;">Print</span>
                            </button>

                            <button class="btn mt-3" type="button" onclick="downloadPdf()" style="margin-right: 2vh;">
                                <span><img width="30px" src="{% static 'images/credit/pdf.jpg' %}" alt="no img"></span>
                                <br><span style="color: black; font-size: small; font-weight: bold;">Pdf</span>
                            </button>

                            <button class="btn mt-3" type="button" data-toggle="modal" data-target="#excelModal" onclick="excelmodel()">
                                <span><img width="30px" src="{% static 'images/credit/share.png' %}" alt="no img"></span>
                                <br><span style="color: black; font-size: small; font-weight: bold;">Share</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div><br>
            
            
            <br>
        </div>
    </div>



<div class = "credit-wrapper" id = "print-area">
    <br><br><br><br>
    <div class = "credit col-10 mr-0">
        <div class = "credit-container">
            <div class = "credit-head">
                <div class = "credit-head-top">
                    <div class = "credit-head-top-left text-start">
                        <h3>Credit Note</h3>
                    </div>
                    <div class = "credit-head-top-right text-end"> 
                            <a href="{% url "transactiontable" %}" style="text-align: right; font-size: large;"><i class="fa fa-times mt-3 mr-4" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class = "hr"></div>
                <div class = "credit-head-middle">
                    
                    <div class = "credit-head-middle-left text-start">
                        <p><span class = "text-bold">Date:</span>{{cd.date}}</p>
                    </div>
                    <div class = "credit-head-middle-right text-end">
                        <p><spanf class = "text-bold">CreditNote No:</span>{{cd.returnno}}</p>
                    </div>
                    
                </div>
                <div class = "hr"></div>
                <div class = "credit-head-bottom">
                    <div class = "credit-head-bottom-left">
                        <ul>
                            <li class = 'text-bold'>From:</li>
                            <li>{{cd.company.company_name}}</li>
                            <li>{{cd.company.address}}</li>
                        </ul>
                    </div>
                    <div class = "credit-head-bottom-right">
                        <ul class = "text-end">
                            <li class = 'text-bold'>To:</li>
                            <li>{{cd.party_name}}</li>
                            <li>{{cd.address}}</li>
                            <li>{{cd.contact}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class = "overflow-view">
                <div class = "credit-body">
                    <table>
                        <thead>
                            <tr>
                                <td class = "text-bold">Item</td>
                                <td class = "text-bold">HSN</td>
                                <td class = "text-bold">Qty</td>
                                <td class = "text-bold">Rate</td>
                                <td class = "text-bold">Tax</td>
                                <td class = "text-bold">Discount</td>
                                <td class = "text-bold">Total</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in crditem %}
                            <tr>
                                <td>{{i.product}}</td>
                                <td>{{i.hsn}}</td>
                                <td>{{i.qty}}</td>
                                <td>{{i.price}}</td>
                                <td>{{i.tax}}</td>
                                <td>{{i.discount}}</td> 
                                <td class = "text-end">{{i.total}}</td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td colspan="4">10</td>
                                <td>$500.00</td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class = "credit-body-bottom">
                        <div class = "credit-body-info-item border-bottom">
                            <div class = "info-item-td text-end text-bold">Sub Total:</div>
                            <div class = "info-item-td text-end">{{cd.subtotal}}</div>
                        </div>
                        <div class = "credit-body-info-item border-bottom">
                            <div class = "info-item-td text-end text-bold">Tax:</div>
                            <div class = "info-item-td text-end">{{cd.taxamount}}</div>
                        </div>
                        <div class = "credit-body-info-item">
                            <div class = "info-item-td text-end text-bold">Total:</div>
                            <div class = "info-item-td text-end">{{cd.grandtotal}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
<ul class="pagination pagination-sm justify-content-center">
    <li class="page-item active"><a class="page-link" href="{% url "template1" cd.id %}">1</a></li>
    <li class="page-item"><a class="page-link" href="{% url "template2" cd.id %}">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url "template3" cd.id %}">3</a></li>
  </ul><br><br>
</div>
</div>

<script>
    function printcredit(){
        window.print();
    }
</script>
<script>
    function downloadPDF() {
        // Replace the URL below with the actual URL that serves the PDF file
        var pdfUrl = 'template1.pdf';
        
        // Creating an anchor element to trigger the download
        var a = document.createElement('a');
        a.href = pdfUrl;
        a.download = 'creditnote.pdf'; // Optional: specify a filename for the downloaded file
        a.target = '_blank'; // Optional: open the PDF in a new tab instead of downloading it
        a.click();
    }
</script>

</body>
{% endblock content %}