{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: rgb(130, 144, 199);
      }
      
      .credit {
        max-width: 900px;
        background-color: white;
        padding: 30px 70px 70px 70px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        min-height: 700px;
        
      }
      
      .credit h2 {
        text-align: center;
      }
      
      .credit-details {
        margin-bottom: 20px;
      }
      
      .credit-details p {
        margin: 5px 0;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      
      table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      
      .credit-total {
        text-align: right;
      }
    .hdr{
        background-color:rgb(130, 144, 199);
        padding:20px;
    }
      
</style>
<body>
    

    <br><br><br><br><br><br>
    <div class="row ps-3 pe-3 m-0" >
    <div class="col-sm-12 ps-2 pe-3" style="margin-left:23%;">
        <div class="row pt-0 m-0">
            <div class="card p-0 bg-light bs col-md-9"><br>
                <div class="row">
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-3" style="margin-left: 7vh; margin-top: 7vh;">
                                <div class="form-group">
                                    <h3>Credit Note Details</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4 text-right" style="margin-left: -13vh;">
                                <button class="btn mt-3" type="button" onclick="printcredit()" style="margin-right: 2vh;">
                                    <span><img width="30px" src="{% static 'images/printer.jpeg' %}" alt="no img"></span>
                                    <br><span style="color: black; font-size: small; font-weight: bold;">Print</span>
                                </button>
    
                                <button class="btn mt-3" type="button" onclick="downloadPdf()" style="margin-right: 2vh;">
                                    <span><img width="30px" src="{% static 'images/credit/pdf.jpg' %}" alt="no img"></span>
                                    <br><span style="color: black; font-size: small; font-weight: bold;">Pdf</span>
                                </button>
    
                                <button class="btn mt-3" type="button" data-toggle="modal" data-target="#excelModal" onclick="excelmodel()">
                                    <span><img width="30px" src="{% static 'images/credit/share.png' %}" alt="no img"></span>
                                    <br><span style="color: black; font-size: small; font-weight: bold;">Share</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div><br>
                
                
                <br>
            </div>
        </div>
    
    

<body>
  <div class="credit">
    <div class='hdr'>
        <h2 style='color:white;'>Credit Note</h2>
    </div><br>
    <div class='hr'></div>
    <div class="credit-details">
      <p style='color:black;'>CreditNote No: <span id="creditNumber">{{cd.returnno}}</span></p>
      <p style='color:black;'>Date: <span id="creditDate">{{cd.date}}</span></p>
      <div class = "credit-head-bottom">
        <div class = "credit-head-bottom-left">
            <ul>
                <li class = 'text-bold'>From:</li>
                <li>{{cd.company.company_name}}</li>
                <li>{{cd.company.address}}</li>
            </ul>
        </div>
        <div class = "credit-head-bottom-right text-end">
            <ul class = "text-end">
                <li class = 'text-bold'>To:</li>
                <li>{{cd.party_name}}</li>
                <li>{{cd.address}}</li>
                <li>{{cd.contact}}</li>
            </ul>
        </div>
    </div>
    </div>
    <table>
      <thead>
        <tr>
            <td class = "text-bold">Item</td>
            <td class = "text-bold">HSN</td>
            <td class = "text-bold">Qty</td>
            <td class = "text-bold">Rate</td>
            <td class = "text-bold">Tax</td>
            <td class = "text-bold">Discount</td>
            <td class = "text-bold">Total</td>
        </tr>
      </thead>
      <tbody>
        {% for i in crditem %}
            <tr>
                <td>{{i.product}}</td>
                <td>Creating a website design</td>
                <td>{{i.qty}}</td>
                <td>10</td>
                <td class = "text-end">{{i.tax}}</td>
                <td></td>
                <td>{{i.total}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class = "credit-body-bottom">
        <div class = "credit-body-info-item border-bottom">
            <div class = "info-item-td text-end text-bold">Sub Total:</div>
            <div class = "info-item-td text-end">{{cd.subtotal}}</div>
        </div>
        <div class = "credit-body-info-item border-bottom">
            <div class = "info-item-td text-end text-bold">Tax:</div>
            <div class = "info-item-td text-end">{{cd.taxamount}}</div>
        </div>
        <div class = "credit-body-info-item">
            <div class = "info-item-td text-end text-bold">Total:</div>
            <div class = "info-item-td text-end">{{cd.grandtotal}}</div>
        </div>
    </div>
  </div>

  

    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item"><a class="page-link" href="{% url "template1" cd.id %}">1</a></li>
        <li class="page-item active"><a class="page-link" href="{% url "template2" cd.id %}">2</a></li>
        <li class="page-item"><a class="page-link" href="{% url "template3" cd.id %}">3</a></li>
      </ul><br><br>
    </div>
    </div>
    
    <script>
        function printcredit(){
            window.print();
        }
    </script>
    <script>
        function downloadPDF() {
            // Replace the URL below with the actual URL that serves the PDF file
            var pdfUrl = 'template1.pdf';
            
            // Creating an anchor element to trigger the download
            var a = document.createElement('a');
            a.href = pdfUrl;
            a.download = 'creditnote.pdf'; // Optional: specify a filename for the downloaded file
            a.target = '_blank'; // Optional: open the PDF in a new tab instead of downloading it
            a.click();
        }
    </script>
    
    </body>
{% endblock content %}